* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 15px;
    text-align: right;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

header nav a:hover {
    padding-bottom: 18px;
    background-color: #555;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    border: 2px solid orange;
}

.category {
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    header nav a {
        display: block;
    }
  }
